/*
.head{
    align-content: center;
    text-align: center;
    font-size: large;
    font-weight: 800;
    font-family: monospace;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,212,255,1) 100%); 
}
*/