{% extends "admin-template.html.jinja" %}


{% block title %}
Dashboard
{% endblock %}

{% block content %}

<br />
<h2 class="heading text-center text-monospace">Products</h2>
<br />

<div class="table-responsive">
<table class="table mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">PRODUCT NAME</th>
      <th scope="col">PRODUCT PRICE</th>
      <th scope="col">PRODUCT IMAGE</th>
      <th scope="col">EDIT/DELETE PRODUCT</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.product_name}}</td>
      <td>{{product.product_price}}</td>
      <td><img src="static/images/{{product.product_image}}" height="50px" width="50px"></td>
     <td>
      <a href="{{url_for('adminController.editProduct')}}" type="submit" class="btn btn-primary">Edit</a>
      <a href="{{url_for('adminController.deleteProduct', productname=product.product_name)}}" type="submit" class="btn btn-danger" >Delete</a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}