{% extends "admin-template.html.jinja" %}


{% block title %}
Dashboard
{% endblock %}

{% block content %}

<br />
<h2 class="heading text-center text-monospace">Products</h2>
<br />

<div class="table-responsive">
<table class="table mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">PRODUCT NAME</th>
      <th scope="col">PRODUCT ID</th>
      <th scope="col">PRODUCT PRICE</th>
      <th scope="col">PRODUCT IMAGE</th>
      <th scope="col">EDIT/DELETE PRODUCT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>img</td>
     <td>
       <a href="{{url_for('admintasks')}}" class="btn btn-primary">Edit</a>
      <a href="{{url_for('admintasks')}}" class="btn btn-danger" >Delete</a>
    </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>img</td>
      <td>
       <a href="{{url_for('admintasks')}}" class="btn btn-primary">Edit</a>
      <a href="{{url_for('admintasks')}}" class="btn btn-danger" >Delete</a>
    </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>img</td>
     <td>
       <a href="{{url_for('admintasks')}}" class="btn btn-primary">Edit</a>
      <a href="{{url_for('admintasks')}}" class="btn btn-danger" >Delete</a>
    </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>img</td>
     <td>
       <a href="{{url_for('admintasks')}}" class="btn btn-primary">Edit</a>
      <a href="{{url_for('admintasks')}}" class="btn btn-danger" >Delete</a>
    </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}