{% extends "admin-template.jinja" %}


{% block title %}
Orders | E-Com
{% endblock %}

{% block content %}

<br />
<h2 class="heading text-center text-monospace">Orders</h2>
<br />

<div class="table-responsive">
<table class="table mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ORDER ID</th>
      <th scope="col">PRODUCT NAME</th>
      <th scope="col">CUSTOMER NAME</th>
      <th scope="col">PAYMENT</th>
      <th scope="col">TOTAL PRICE</th>
      <th scope="col">View Order</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{order.order_id}}</td>
      <td>{{order.customer_name}}</td>
      <td>{{order.payment_status}}</td>
      <td>{{order.total_order_price}}</td>
      <td>
        <a href="{{url_for('adminController.admin')}}" class="btn btn-primary">View Order</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}