{% extends "admin-template.jinja" %}


{% block title %}
Dashboard | E-Com
{% endblock %}

{% block content %}

<br />
<h2 class="heading text-center text-monospace">Products</h2>
<br />

<div class="table-responsive">
<table class="table mx-auto">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">PRODUCT NAME</th>
      <th scope="col">PRODUCT PRICE</th>
      <th scope="col">PRODUCT IMAGE</th>
      <th scope="col">EDIT/DELETE PRODUCT</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.product_name}}</td>
      <td>&#8377;{{product.product_price}}</td>
      <td><img src="{{url_for('static', filename='images/'+product.product_image)}}" height="50px" width="50px"></td>
     <td>
      <a href="{{url_for('adminController.editproduct', productName=product.product_name)}}" type="submit" class="btn btn-primary fa fa-edit"> Edit</a>
      <a href="{{url_for('adminController.deleteProduct', productname=product.product_name)}}" type="submit" class="btn btn-danger fa fa-trash"> Delete</a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}