<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#528FF0">

    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='assets/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="url_for('static', filename='assets/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='assets/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='manifest/manifest.json')}}">

    {% block head %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('userController.home')}}">E-Com</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('userController.home') }}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('userController.cart') }}">Cart</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('userController.profile') }}">Profile</a>
          </li>
          {% block nav %}
          {% endblock %}
        </ul>
        {% block search %}
        {% endblock %}
      </div>
    </nav>

    <div class="container-fluid" style="min-height:100%">
      {% with messages = get_flashed_messages() %} 
        {% if messages %} 
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="false">&times;</span>
            </button> 
            {{message}}
          </div>
          {% endfor %} 
        {% endif %} 
      {% endwith %}
    </div>

    {% block body %} {% endblock %}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  <script src="{{url_for('static', filename='javascript/script.js')}}"type="application/javascript"></script>
  </body>
</html>
