{% extends "base.html.jinja" %}

{% block title %} Cart | E-Com {% endblock %}

{% block body %}

<br />
<p class="h2 text-center text-monospace">Cart</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Change Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for x in cart %}
      <tr>
        <th scope="row">{{serialnumber}}</th>
        <td>{{productname}}</td>
        <td>{{productquantity}}</td>
        <td>{{productprice}}</td>
        <td><img src="{{productimage}}"></td>
        <td><form action="#" method="POST"><input type="number"></form></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

{% endblock %}
