{% extends "base.html.jinja" %}

{% block title %} Cart | E-Com {% endblock %}

{% block body %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('userController.logout') }}">Logout</a>
  </li>
{% endblock %}

<br />
<p class="h2 text-center text-monospace">Cart</p>
<table class="table" style="overflow-y: auto;">
    <thead>
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <th scope="row">1</th>
        <td>{{product.product_name}}</td>
        <td>{{product.product_quantity}}</td>
        <td>&#8377;{{product.product_price}}</td>
        <td><img src="{{url_for('static', filename='images/'+product.product_image)}}" style="width: 50px; height: 50px;"></td>
        <td><form action="#" method="POST"><input type="number" min="0" max="10"></form></td>
        <td><a href="{{url_for('userController.deletefromcart')}}" class="btn btn-danger fa fa-trash"> Remove</a>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <div class="info text-center">
    <label for="total" class="h4">Sub Total:</label>
<h5 class="total" name="total" id="total">&#8377;100</h5>
<a href="{{url_for('cart')}}" class="btn btn-primary">Proceed to Checkout</a>
  </div>

  <footer class="page-footer fixed-bottom">
  <a href="{{url_for('userController.home')}}" class="btn btn-link">Continue Shopping</a>
  <small class="text-center">We currently limit the maximum order quantity to a single unit of the item.We apologise for the inconvinience caused.</small>
  </footer>

  {% endblock %}
