{% extends "base.jinja" %}

{% block title %}E-Com | Change Password{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/changePassword.js') }}"></script>
{% endblock %}

{% block body %}

<!-- {% block nav %}
{% if 'user' in session %}
<li class="nav-item active">
  <a class="nav-link" href="{{ url_for('userController.logout') }}">Logout</a>
</li>
{% else %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('userController.signup') }}">Signup</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{{ url_for('userController.login') }}">Login</a>
</li>
{% endif %}
{% endblock %} -->

<br />
<p class="h2 text-center text-monospace">Change Password</p>
<br />
<br />

<form class="p-5" action="#" method="POST">
    <div class="form-group">
      <label for="password">Old Password:</label>
      <input type="text" class="form-control" id="password" name="password" required />
    </div>
    
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" minlength="8" required>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" minlength="8" required />
    </div>
    <button type="submit" class="btn btn-primary" onclick="validate()">Change Password</button>
    <button type="reset" class="btn btn-danger">Clear</button>
  </form>

{% endblock %}