{% extends "base.jinja" %} 

{% block title %} Checkout | E-Com {% endblock%} 

{% block body %}

<!--
{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('userController.logout') }}">Logout</a>
  </li>
{% endblock %}
-->

<br />
<p class="h2 text-center text-monospace p-4">Checkout</p>

<!-- 
<div class="text-left p-4">
  <p class="text-monospace pb-4 h3">Order Summary:</p>
  <p class="text-monospace">Total Price: &#x20B9;</p>
</div>  -->

<div class="card text-center mx-auto p-8 shadow" style="width: 50rem; height: 20rem;">
    <div class="card-body">

      <p class="text-monospace pb-4 h3">Order Summary:</p>
      <p class="text-monospace">Total Price: &#x20B9; {{total}}</p>
      <p class="text-monospace">Phone: {{user.user_phonenumber}}</p>
      <p class="text-monospace">Address: {{user.user_address}}</p>

    
        <br />
        <button id="rzp-button1" class="btn btn-success razorpay-payment-button">
          Checkout
        </button>
    
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
          var options = {
            key: "{{API_KEY}}", //API KEY required for paymments via Razorpay 
            amount: "{{order['amount']}}",
            currency: "INR",
            name: "E-Com",
            description: "Checkout for E-Com",
            image: "static/assets/android-chrome-512x512.png",
            order_id: "{{order['order_id']}}",
            handler: function(response){
              // alert(response.razorpay_payment_id);
              // alert(response.razorpay_order_id);
              // alert(response.razorpay_signature);
              
              // Create a POST request and post data.
              var url = '/user/checkout'; // Route for sending the request
              var method = 'POST'; // Method for the request
              var request = new XMLHttpRequest(); // Create a new XMLHttpRequest object.
              var data = {
                "razorpay_payment_id" : response.razorpay_payment_id,
                "razorpay_signature" : response.razorpay_signature,
                "order_id" : response.order_id
              } // Data to be sent as json.
              
              // Configure the XHR request for sending POST request.
              request.open(method, url, true);
              request.open(method, url, shouldBeAsync);
              request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            
             // Send the request to the server.
             request.send(data);

            },
            prefill: {
              name: "{{user.user_name}}",
              email: "{{user.user_email}}",
              contact: "{{user.user_phonenumber}}",
            },
            notes: {
              address: "{{user.user_address}}",
            },
            theme: {
              color: "#528FF0",
            },
          };
          var rzp1 = new Razorpay(options);
          rzp1.on("payment.failed", function (response) {
            // alert(response.error.code);
            // alert(response.error.description);
            // alert(response.error.source);
            // alert(response.error.step);
            // alert(response.error.reason);
            // alert(response.error.metadata.order_id);
            // alert(response.error.metadata.payment_id);
            alert('Payment Failed');
            window.location.replace('/user/checkout/payment/fail/'+response.error.metadata.order_id);

          });
          document.getElementById("rzp-button1").onclick = function (e) {
            rzp1.open();
            e.preventDefault();
          };
        </script>
    
    </div>
  </div>

<footer class="page-footer text-center fixed-bottom pb-3">
  <small>
    We are currently not offering cash on delivery(COD) on our website.</small
  >
</footer>

{% endblock %}
