{% extends "base.html.jinja" %}

{% block title %} Checkout | E-Com {% endblock %}

{% block body %}

<br />
<p class="h2 text-center text-monospace">Checkout</p>

<p class="text-left text-monospace p-4 h3">Order Summary:</p>

{% endblock %}