<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{err}}</title>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/error.css')}}"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='assets/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="url_for('static', filename='assets/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='assets/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='manifest/site.webmanifest')}}">

  </head>
  <body>
    <div class="container pt-50">
      <div class="row">
        <div class="col-md-12">
          <div class="error-template">
            <h1>Oops!</h1>
            <h2>{{err}}</h2>
            <div class="error-details">
              Sorry, {{msg}}!
            </div>
            <div class="error-actions">
              <a
                href="{{url_for('userController.home')}}"
                class="btn btn-primary btn-lg"
                ><span class="glyphicon glyphicon-home"></span> Take Me Home
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
