{% extends "base.html.jinja" %} {% block title %} Home | E-Com {% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/styles.css')}}"
/>
{% endblock %} {% block body %}
<div class="container mt-5">
  <div class="row">
    {% for x in products %}
    <div class="col-md-3 p-4">
      <div class="card" style="width: 15rem; height: 24rem">
        <img
          src="static/images/{{product.product_image}}"
          alt="{{ product.product_name }}"
          style="height: 12rem"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <h6 class="card-subtitle">{{product.product_price}}</h6>
          <p class="card-text">{{product.product_description}}</p>
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
