{% extends "base.html.jinja" %} {% block title %} Home | E-Com {% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/styles.css')}}"
/>

<script src="{{url_for('static', filename='javascript/stock.js')}}"></script>

{% endblock %} 

{% block body %}
<div class="container mt-5">
  <div class="row">
    {% for product in products %}
    <div class="col-md-3 p-4">
      <div class="card" style="width: 15rem; height: 24rem" onload="stock()">
        <img
          src="static/images/{{product.product_image}}"
          alt="{{ product.product_name }}"
          style="height: 12rem"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <h6 class="card-subtitle">{{product.product_price}}</h6>
          <p class="card-text">{{product.product_description}}</p>
          <small class="card-text" id="stockstatus">{{product.stock_status}}</small>
          <a href="{{url_for('userController.addtocart', productName=product.product_name)}}" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
