{% extends "base.html.jinja" %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="text-justify font-weight-bold text-monospace h3">
    {{content}}
</div>
{% endblock %}