{% extends "base.jinja" %}


{% block title %}
Orders | E-Com
{% endblock %}

{% block body %}


<!--
{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('userController.logout') }}">Logout</a>
  </li>
{% endblock %}
-->


<br />
<h2 class="heading text-center text-monospace">Orders</h2>
<br />

<div class="table-responsive p-4">
<table class="table mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">PAYMENT STATUS</th>
      <th scope="col">TOTAL PRICE</th>
      <th scope="col">View Order</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{order.payment_status}}</td>
      <td>{{order.total_order_price}}</td>
      <td>
        <a href="{{url_for('userController.viewOrder', order_id=order.order_id)}}" class="btn btn-primary">View Order</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}