{% extends "base.html.jinja" %}

{% block title %} Profile | E-Com {% endblock %}

{% block head %}
<script src="{{url_for('static', filename='javascript/hidePassword.js')}}"></script>
{% endblock %}

{% block body %}

<br />
<p class="h2 text-center text-monospace">Profile</p>
<br />

<div class="row">
<div class="col-md-8 offset-md-2">

<p class="h4 text-monospace">Name: {{info.user_name}}</p>

<p class="h4 text-monospace">Email: {{info.user_email}}</p>

<address class="h4 text-monospace">Address: {{info.user_address}}</address>

<p class="h4 text-monospace">City: {{info.user_city}}</p>

<p class="h4 text-monospace">State: {{info.user_state}}</p>

<p class="h4 text-monospace">ZipCode: {{info.user_zipcode}}</p>

<p class="h4 text-monospace">PhoneNumber: {{info.user_phonenumber}}</p>

</div>
</div>

{% endblock %}