{% extends "base.html.jinja" %}

{% block title %} Profile | E-Com {% endblock %}

{% block head %}
<script src="{{url_for('static', filename='javascript/hidePassword.js')}}"></script>
{% endblock %}

{% block body %}

<br />
<p class="h2 text-center text-monospace">Profile</p>

<p class="h3 text-center text-monospace">Name:{{info.user_name}}</p>

<p class="h4 text-center">Email:{{info.user_email}}</p>

<address class="h5 text-center">Address:{{info.user_address}}</address>

<p class="h4 text-center">PhoneNumber:{{info.user_phonenumber}}</p>

<p class="h4 text-center">City:{{info.user_city}}</p>

<p class="h4 text-center">State:{{info.user_state}}</p>

<p class="h4 text-center">ZipCode:{{info.user_zipcode}}</p>

<p class="h4 text-center">
    <label for="password">Password:</label> 
    <input type="password" name="password" id="password" value="{{info.user_password}}">
    <button type="submit" class="btn btn-secondary btn-sm" onclick="hide()">Hide/Unhide</button>
</p>



{% endblock %}